* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: bisque;
    opacity: inherit;
}

.nav {
    background-color: aliceblue;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.logo {
    width: 100px;
    border-radius: 30px 25px;
}


a {
    text-decoration: none;
}

section {
    text-align: left;
}