* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background-color: bisque;
    opacity: inherit;
}

.nav {
    background-color: aliceblue;
    font-family: cursive;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    padding: 15px;
}

.logo {
    width: 100px;
    border-radius: 30px 25px;
    margin: 20px;
}


a {
    text-decoration: none;
}

hr {
    border: 1px solid white;
    margin-bottom: 25px;
}

.container {
    padding: 20px;
    text-align: center;
}

.signupbutton {
    width: 15%;
    color: white;
    background-color: black;
    border-radius: 25px;
}

button:hover {
    opacity: 1;
}

.contain {
    display: flex;
    gap: 90px;
    justify-content: left
}

.page {
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.love {
    flex-direction: row;
    text-align: center;
    align-items: center;
}

footer {
    text-align: center;
}

.para {
    text-align: center;
}

.pictures {
    margin-top: 100px;
    margin-bottom: 100px;
}

.figure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    /*padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 10px;*/
}

.fig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pics {
    float: right;
    width: 20%
}

.navvi {
    width: 30%;
}


.imgy {
    border: 2px solid white;
}


.cake {
    text-align: center;

}

.caki {
    display: flex;

}

.caky {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: brown;
    padding: 50px 50px;
    /*border-radius: 25px;*/
    margin: 2px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin: 30px;
}

.pone {
    text-align: center;
}

/*.galle{
    margin: 20px;
    text-align: center;
}*/
.food {
    margin-top: 100px;
    margin-bottom: 100px;
}

.equipment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.equip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.school{
    margin-top: 40px;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background-color: blue;
    color: white;
}